<form (ngSubmit)="filterItem(value)" >
    <input #myInput name="value" placeholder="Item name..." ngModel (input)="filterItem(value)">
    <div *ngFor="let item of filteredItems">
        {{item.name}}
    </div>
    <button mat-button>Search</button>
</form>
<!-- <mat-form-field floatLabel="never" appearance="fill"> 
    <mat-label>Search</mat-label>
    <input matInput type="text" [(ngModel)]="value">
    <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field> -->
    <div class="container">
        <div class="card" *ngFor="let product of products">
        <figure>
          <img src={{product.defaultImage}}>
        </figure>
        <section class="details">
          <div class="min-details">
            <h1>{{product.name}} </h1>
            <p>{{product.description}}</p>
            <h1 class="price">£{{product.price}}</h1>
          </div>
      
          <div class="options">
            <!--<div class="options-size">
              <h1>sizes</h1>
              <ul>
                <li>xs</li>
                <li>s</li>
                <li>m</li>
                <li>l</li>
                <li>xl</li>
              </ul>
            </div> -->
      
            <!-- <div class="options-colors">
              <h1>colors</h1>
              <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
            </div> -->
          </div>
          <a href="#" class="btn">add to cart</a>
        </section>
      </div>
    <!-- <mat-card class="example-card" *ngFor="let product of products">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{product.name}}</mat-card-title>
          <mat-card-subtitle>{{product.id}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{product.defaultImage}}>
        <mat-card-content>
          <p>
            {{product.description}}
          </p>
        </mat-card-content>
      </mat-card> -->
      </div>
      


